<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Sumit's Portfolio</title>
    <!------------------------------CDN Connection1 script to connect Bootstrap------------------------  -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!---------------------------------------------- Bootstrap ICON ------------------------------------------------------------->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="styles.css">
	<link rel="stylesheet" href="slider.css">
	
     

</head>

<body>
    <div class="container-fluid bg-dark">
        <div class="row">
            <div class="col-sm-2">
                   
                <div class="border-end border-warning h-100">
                   <div class="text-center">
                    <img src="images/sumit.jpg" alt="" class="img-fluid rounded-circle mt-5" >
                    <h5 class="text-white mt-1 st-font">Sumit Kumar Mishra</h5>
                   </div><br>
                
                   <nav class="nav flex-column text-center mt-4">
                    <h4><a href="index.html" class="nav-link s1  border ">HOME</a></h4>
                    <!-- <a href="/services" class="nav-link s2 <% if(page_name == 'Services'){ %> active <% } %> border ">QUALIFICATION</a>
                    <a href="/skill" class="nav-link s3 <% if(page_name == 'Skill'){ %> active <% } %> border ">Skill</a>
                    <a href="Contact.html" class="nav-link s4 <% if(page_name == 'Contact'){ %> active <% } %> border ">Contact</a></h4> -->
                   </nav>
           
                   <h3 class="mb-2 text-center text-danger">Contact Me</h3>

                    <p class="md-4 text-center text-warning"> sumit7686@gmail.com <br> <i class="bi bi-telephone-forward"></i> +91
                        7355648316</p>
                      <p class="text-center"> <a  style="margin: 5px; padding: 2px; text-decoration: none; color:rgb(19, 253, 19); font-size:xx-large;" href="https://api.whatsapp.com/send?phone=9889350769" target="_blank"> <ion-icon name="logo-whatsapp"></ion-icon></a></p> 
           
                   </div> </div>

				   

                   <div class="col-sm-10"> <!-- Start Main Content -------------------------->
					<div class="mt-4">

						<h1 class="fw-bold st-font text-white">Hello,</h1>

						<div class="row justify-content-evenly ">
							<div class="col-md-6 ">


								<div class="text-center extradiv">
									<img src="images/Cert5.jpg" alt="" class="img-fluid  mt-2">
								 </div>



							  <!-- <h3 class="mb-4">Contact Form</h3>
			  
							  <form>
								<div class="mb-3">
								  <label for="name" class="form-label">Full Name</label>
								  <input type="text" class="form-control" id="name">
								  
								</div>
								
								<div class="mb-3">
								  <label for="exampleInputEmail1" class="form-label">Email address</label>
								  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
								  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
								</div>
								<div class="mb-3">
								  <label for="exampleFormControlTextarea1" class="form-label">Message</label>
								  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
								</div>
								
								<button type="submit" class="btn btn-primary">Submit</button>
							  </form> -->
							</div>
							<div class="col-md-6 ">

								<div class="text-center extradiv">
									<img src="images/Cert6.jpg" alt="" class="img-fluid ">
								 </div>




							  <!-- <h3 class="mb-4">Address</h3>
							  <p>WW8P+H62, Arzoo Nagar, Mohibullapur, Madiyanva, Lucknow, Uttar Pradesh 226021, India<br>
								italksolutions@hotmail.com<br>                  
								<i class="bi bi-telephone-forward"></i> +91 9019922045</p> -->
								
								<!----------------------- Google Map Link ----------------------------------------->
<!-- 							  
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8461.481144489342!2d80.93204163001518!3d26.915724447020136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3999564bbb71683f%3A0x1470b2178ca37f3e!2sArzoo%20Nagar%2C%20Sector%20A%2C%20Jankipuram%2C%20Lucknow%2C%20Uttar%20Pradesh%20226021!5e0!3m2!1sen!2sin!4v1657778857659!5m2!1sen!2sin" style="width: 100%;" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
							</div>
						   
						  </div>

						
<!-- ***************************** Moving Slider ************************ -->

<div class="container">
	<div class="slider-container">
		<div class="slide-image">
		<img class="s1" class="img1" src="images/Cert1.jpg" alt="">
		</div>

		<!-- <div class="slide-image">
			<img src="images/Cert2.jpg" alt="">
			</div> -->

			<div class="slide-image">
				<img class="s1" src="images/Cert3.jpg" alt="">
				</div>

				<div class="slide-image">
					<img class="s1" src="images/Cert4.jpg" alt="">
					</div>

					<div class="slide-image">
						<img class="s1" src="images/Cert5.jpg" alt="">
						</div>

						<div class="slide-image">
							<img class="s1" src="images/Cert6.jpg" alt="">
							</div>
							<!-- <div class="slide-image">
								<img src="images/Cert7.jpg" alt="">
								</div>
								<div class="slide-image">
									<img src="images/Cert8.jpg" alt="">
									</div> -->
									<div class="slide-image">
										<img class="s1" src="images/Cert9.jpg" alt="">
										</div>
										<div class="slide-image">
											<img class="s1" src="images/Cert10.jpg" alt="">
											</div>
											<div class="slide-image">
												<img class="s1" src="images/Cert11.jpg" alt="">
												</div>
												<div class="slide-image">
													<img class="s1" src="images/Cert12.jpg" alt="">
													</div>
													<div class="slide-image">
														<img class="s1" src="images/Cert13.jpg" alt="">
														</div>
														<div class="slide-image">
															<img class="s1" src="images/CertT1.jpg" alt="">
															</div>
															<div class="slide-image">
																<img class="s1" src="images/CertT2.jpg" alt="">
																</div>
																<div class="slide-image">
																	<img class="s1" src="images/CertT3.jpg" alt="">
																	</div>
																	<div class="slide-image">
																		<img class="s1" src="images/CertT4.jpg" alt="">
																		</div>
																		<div class="slide-image">
																			<img class="s1" src="images/CertT5.jpg" alt="">
																			</div>


	</div>	

	
</div>
<!-- **************************************************Moveing Slider************************************************** -->



         

     </div>
	 
</div> <!-- **********************************End main Div-col-sm-10********************************* -->
  





        </div></div>


<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<!----------------------- CDN Connection script to connect Bootstrap ----------------------------------------->      

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
