<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sumit</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
        crossorigin="anonymous">

    <!-- Bootstrap ICON -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">
     <link rel="stylesheet" href="styles.css"> 
     <link rel="stylesheet" href="testing3.css">
    

</head>

<body>
    <div class="container-fluid bg-dark">
        <div class="row">
             <!-- <div class="col-sm-12 col-md-2">
                   
                <div class="border-end border-warning ">
                   <div class="text-center">
                    <img src="images/sumit.jpg" alt="" class="img-fluid rounded-circle mt-2" >
                    <h5 class="text-white mt-1 st-font">Sumit Kumar Mishra</h5>
                   </div><br>
                
                   <nav class="nav flex-column text-center ">
                    <h4><a href="index.html" class="nav-link s1  border ">HOME</a></h4>
                     <a href="/services" class="nav-link s2 <% if(page_name == 'Services'){ %> active <% } %> border ">QUALIFICATION</a>
                    <a href="/skill" class="nav-link s3 <% if(page_name == 'Skill'){ %> active <% } %> border ">Skill</a>
                    <a href="Contact.html" class="nav-link s4 <% if(page_name == 'Contact'){ %> active <% } %> border ">Contact</a></h4> -->
                   <!-- </nav>
				   <h3 class=" text-center text-danger">Contact Me</h3>

				   <p class=" text-center text-warning"> sumit7686@gmail.com <br> <i class="bi bi-telephone-forward"></i> +91
					   7355648316</p>
					 <p class="text-center"> <a  style="margin: 5px; padding: 2px; text-decoration: none; color:rgb(19, 253, 19); font-size:xx-large;" href="https://api.whatsapp.com/send?phone=9889350769" target="_blank"> <ion-icon name="logo-whatsapp"></ion-icon></a></p> 
           
                   </div> </div>   -->

            <div class="col-sm-12 col-md-12">
                <!-- Start Main Content -->
                <div class="mt-2">

                    <div class="border-end border-warning ">
                        <div class="text-center">
                         <img src="images/sumit.jpg" alt="" class="img-fluid rounded-circle mt-2" >
                         <h5 class="text-white mt-1 st-font">Sumit Kumar Mishra</h5>
                        </div><br>
                     
                        <nav class="nav flex-column text-center ">
                         <h4><a href="index.html" class="nav-link s1  border ">HOME</a></h4>
                         <!-- <a href="/services" class="nav-link s2 <% if(page_name == 'Services'){ %> active <% } %> border ">QUALIFICATION</a>
                         <a href="/skill" class="nav-link s3 <% if(page_name == 'Skill'){ %> active <% } %> border ">Skill</a>
                         <a href="Contact.html" class="nav-link s4 <% if(page_name == 'Contact'){ %> active <% } %> border ">Contact</a></h4> -->
                        </nav>
                        <h3 class=" text-center text-danger">Contact Me</h3>
     
                        <p class=" text-center text-warning"> sumit7686@gmail.com <br> <i class="bi bi-telephone-forward"></i> +91
                            7355648316</p>
                          <p class="text-center"> <a  style="margin: 5px; padding: 2px; text-decoration: none; color:rgb(19, 253, 19); font-size:xx-large;" href="https://api.whatsapp.com/send?phone=9889350769" target="_blank"> <ion-icon name="logo-whatsapp"></ion-icon></a></p> 
                
                        </div>









                    <div class="text-center">
                        <img src="images/redhat.jpg" alt="" class="img-fluid rounded-circle mt-1 App-logo">
                    </div>






                    <div class="mt-1 text-white mx-1 text-justify">
                        <h1 class="fw-bold st-font">Hello,</h1>

                        <!-- <div class=" justify-content-evenly "> -->
							<!-- <div class="col-md-12 "> -->


								<div class="text-center extradiv">
									<img src="images/S1.jpg" alt="" class="img-fluid  mt-2 ">
								 </div>



							<!-- </div> -->
							<!-- <div class="col-md-12 "> -->

								<div class="text-center extradiv">
									<img src="images/S2.jpg" alt="" class="img-fluid ">
								 </div>




							<!-- </div> -->
						   
						  <!-- </div> 
                         -->





                    </div>



                    <!-- ***************************** Moving Slider ************************ -->

                    <div class="logos">
                        <div class="logos-slide">
                          <img src="images/Cert5.jpg" />
                          <img src="images/Cert6.jpg" />
                          <img src="images/Cert1.jpg" />
                          <img src="images/Cert2.jpg" />
                          <img src="images/Cert4.jpg" />
                          <img src="images/Cert10.jpg" />
                          <img src="images/Cert11.jpg" />
                          <img src="images/Cert13.jpg" />
                          <img src="images/CertT1.jpg" />
                          <img src="images/CertT2.jpg" />
                          <img src="images/CertT3.jpg" />
                          <img src="images/CertT4.jpg" />
                        </div>
                      </div>

                    <!-- **************************************************Moveing Slider************************************************** -->

                    <div class="bg-warning mt-5 text-center">Copyright ©SUMIT All rights reserved </div>

                    <div class="bg-dark mt-5">Copyright ©SUMIT All rights reserved </div>

                </div>
                <!-- End Main Content -->
            </div>
        </div>
    </div>

    <!-- Ionicons Script -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <!-- Bootstrap Bundle Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

        <script>
            var copy = document.querySelector(".logos-slide").cloneNode(true);
            document.querySelector(".logos").appendChild(copy);
          </script>
</body>

</html>
