<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Sumit's Portfolio</title>
    <!------------------------------CDN Connection1 script to connect Bootstrap------------------------  -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!---------------------------------------------- Bootstrap ICON ------------------------------------------------------------->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">

</head>
<body>
    
    
<div class="container-fluid bg-dark">
 <div class="row">
  <div class="col-sm-2">
                   
    <div class="border-end border-warning h-100">
       <div class="text-center">
        <img src="images/sumit.jpg" alt="" class="img-fluid rounded-circle mt-5">
        <h5 class="text-white mt-1 st-font">Sumit Kumar Mishra</h5>
       </div><br>
    
       <nav class="nav flex-column text-center mt-4">
        <h4><a href="index.html" class="nav-link s1  border ">HOME</a></h4>
        <!-- <a href="/services" class="nav-link s2 <% if(page_name == 'Services'){ %> active <% } %> border ">QUALIFICATION</a>
        <a href="/skill" class="nav-link s3 <% if(page_name == 'Skill'){ %> active <% } %> border ">Skill</a>
        <a href="Contact.html" class="nav-link s4 <% if(page_name == 'Contact'){ %> active <% } %> border ">Contact</a></h4> -->
       </nav>

       <h3 class="mb-2 text-center text-danger">Contact Me</h3>

                    <p class="md-4 text-center text-warning"> sumit7686@gmail.com <br> <i class="bi bi-telephone-forward"></i> +91
                        7355648316</p>
                      <p class="text-center"> <a  style="margin: 5px; padding: 2px; text-decoration: none; color:rgb(19, 253, 19); font-size:xx-large;" href="https://api.whatsapp.com/send?phone=9889350769" target="_blank"> <ion-icon name="logo-whatsapp"></ion-icon></a></p> 
    </div>

      </div>


  <div class="col-sm-10">
   <!-- Start Main Content -->
   <div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">CONTACT US</h1>
    <div class="row text-white mb-5">
     <p class="mx-auto mb-5">
      Do you have any questions? Please do not hesitate to contact. I will come back to you within a matter of hours to
      help you.
     </p>
     <div class="col-sm-9 mb-5">
      <form action="">
       <div class="row g-3">
        <div class="col-md-6">
         <label for="inputName">Your Name</label>
         <input type="text" class="form-control mt-2" id="name" />
        </div>
        <div class="col-md-6">
         <label for="inputEmail">Your Email *</label>
         <input type="email" class="form-control mt-2" id="email" required />
        </div>

        <div class="col-md-12">
         <label for="inputSubject">Your Contact Number</label>
         <input type="text" class="form-control mt-2" id="phone" />
        </div>
        <div class="col-md-12 mb-3">
         <label for="inputTextarea">Your message *</label>
         <textarea class="form-control mt-2" id="service" required></textarea>
        </div>
       </div>
       <button class="btn btn-primary" onClick="gotowhatsapp()" type="submit">Send</button>
      </form>
     </div>
     <div class="col-sm-3 text-center">
      <ul class="list-unstyled">
       <li>
        
        <h6 style="margin: 20px; padding: 2px; text-decoration: none; color:rgb(19, 253, 19); font-size:xx-large;"><i class="bi bi-airplane-engines"></i></h6>
        <p>ESIB-622 SECTOR.-A Sitapur Road Yojna Aliganj Lucknow -226021.</p>
       </li>
       <li>
        <h6 style="margin: 20px; padding: 2px; text-decoration: none; color:rgb(19, 253, 19); font-size:xx-large;"><i class="bi bi-telephone-outbound-fill"></i></h6> <p>+91 7355648316</p>
       </li>
       <li>
        <h6 style="margin: 20px; padding: 2px; text-decoration: none; color:rgb(19, 253, 19); font-size:xx-large;"> <i class="bi bi-envelope-open-fill"></h6></i>
        <p>  sumit7686@gmail.com</p>
       </li>
       <li>
        <h6><a style="margin: 20px; padding: 2px; text-decoration: none; color:rgb(19, 253, 19); font-size:xx-large;" href="https://api.whatsapp.com/send?phone=9889350769" target="_blank"> <ion-icon name="logo-whatsapp"></ion-icon></a></h6>
        <!-- <p>  sumit7686@gmail.com</p> -->
       </li>
      </ul>
     </div>
     </div>
     </div>
      <div class="text-center">

<!-- 
      <a style="margin: 20px; padding: 2px; text-decoration: none; color:rgb(19, 253, 19); font-size:xx-large;" href="https://www.facebook.com/Peas-and-Pods-Techsol-105574828784393">
        <ion-icon  name="logo-facebook"></ion-icon>
      </a>
      <a style="margin: 20px; padding: 2px; text-decoration: none; color:rgb(19, 253, 19); font-size:xx-large;" href="https://www.instagram.com/pnptechsol/">
          <ion-icon name="logo-instagram"></ion-icon>
        </a>

        <a style="margin: 20px; padding: 2px; text-decoration: none; color:rgb(19, 253, 19); font-size:xx-large;" href="https://twitter.com/pnptechsol1">
        <ion-icon name="logo-twitter"></ion-icon>
      </a>

      <a style="margin: 20px; padding: 2px; text-decoration: none; color:rgb(19, 253, 19); font-size:xx-large;" href="https://www.youtube.com/channel/UC8MbnMeszG91mZMZVZ-H6Nw">
      <ion-icon name="logo-youtube"></ion-icon>
     </a>

     <a style="margin: 20px; padding: 2px; text-decoration: none; color:rgb(19, 253, 19); font-size:xx-large;" href="https://www.linkedin.com/company/peas-and-pods-techsol">
     <ion-icon name="logo-linkedin"></ion-icon>
     </a>

     <a style="margin: 20px; padding: 2px; text-decoration: none; color:rgb(19, 253, 19); font-size:xx-large;" href="https://api.whatsapp.com/send?phone=919019922045">
     <ion-icon name="logo-whatsapp"></ion-icon>
     </a>

     <a style="margin: 20px; padding: 2px; text-decoration: none; color:rgb(19, 253, 19); font-size:xx-large;" href="https://telegram.me/peasandpods">
     <i class="bi bi-telegram"></i>
     </a>
     <a style="margin: 20px; padding: 2px; text-decoration: none; color:rgb(19, 253, 19); font-size:xx-large;" href="https://in.pinterest.com/italksolutions/_saved/">
     <ion-icon name="logo-pinterest"></ion-icon>
     </a>
           


 -->
<!-- 
 <a style="margin: 20px; padding: 2px; text-decoration: none; color:rgb(19, 253, 19); font-size:xx-large;" href="https://api.whatsapp.com/send?phone=9889350769">
  <ion-icon name="logo-whatsapp"></ion-icon>
  </a> -->


     <div> 
     <!-- End Main Content -->
     </div>
     </div>
    </div>


<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<!----------------------- CDN Connection script to connect Bootstrap ----------------------------------------->      

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>  

<script>

  function gotowhatsapp() {
  
  var name = document.getElementById("name").value;
  var phone = document.getElementById("phone").value;
  var email = document.getElementById("email").value;
  var service = document.getElementById("service").value;
  
  var url = "https://wa.me/9889350769?text="
      + "Name: " + name + "%0a"
      + "Phone: " + phone + "%0a"
      + "Email: " + email + "%0a"
      + "Service: " + service;
  
  window.open(url, '_blank').focus();
  }
  
   
      </script>
    

</body>
</html>
