<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Sumit's Portfolio</title>
    <!------------------------------CDN Connection1 script to connect Bootstrap------------------------  -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!---------------------------------------------- Bootstrap ICON ------------------------------------------------------------->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="styles.css">

     

</head>
<body>
    <div class="container-fluid bg-dark">
        <div class="row">
            <div class="col-sm-2">
                   
                <div class="border-end border-warning h-100">
                   <div class="text-center">
                    <img src="images/sumit.jpg" alt="" class="img-fluid rounded-circle mt-5">
                    <h5 class="text-white mt-1 st-font">Sumit Kumar Mishra</h5>
                   </div><br>
                
                   <nav class="nav flex-column text-center mt-4">
                    <h4><a href="index.html" class="nav-link s1   border ">HOME</a></h4>
                    <!-- <a href="/services" class="nav-link s2 <% if(page_name == 'Services'){ %> active <% } %> border ">QUALIFICATION</a>
                    <a href="/skill" class="nav-link s3 <% if(page_name == 'Skill'){ %> active <% } %> border ">Skill</a>
                    <a href="Contact.html" class="nav-link s4 <% if(page_name == 'Contact'){ %> active <% } %> border ">Contact</a></h4> -->
                   </nav><br>
           
                   <h3 class="mb-4 text-center text-danger">Address</h3>
                  
                   <p class="md-4 text-center text-info">ESIB-622 SECTOR.-A Sitapur Road Yojna Aliganj Lucknow -226021. <br>
                      sumit7686@gmail.com <br>
                   <i class="bi bi-telephone-forward"></i> +91 7355648316</p><br>
           
                </div>
           
                
                  </div>


       <div class="col-sm-10">
        <!-- Start Main Content -->
        <div class="mt-5">
         <div class="text-center">
            <!-- <img src="images/pic1.jpg" alt="" class="img-fluid rounded-circle mt-5"> -->
         </div>
         <div class="mt-2 text-white mx-3 text-justify">
                <h1 class="fw-bold st-font">Hello,</h1>
                <div class="px-4" style="line-height: 2rem;">
                    

                        <section class="serviceoffers" id="servicediv">
                            <div class="container headings text-center">
                                <h1 class="text-center font-weight-bold">TECHNICAL KNOWLEDGE</h1>
                                <p class="text-center">Linux/ Windows Servers Backup & Storage environment L1 Support.</p>
                            </div>
                        
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 col-md-12 col-10 offset-lg-0 offset-1">
                                        <div class="names my-3">
                                            <h1>Servers Backup & Storage</h1>
                                            <div class="progress w-75">
                                              <div class="  progress-bar progress-bar-striped progress-bar-animated bg-info" style="width:100%">100%</div>
                                            </div>
                                        </div>
                        
                                        <div class="names my-3">
                                            <h1>System Administration </h1>
                                            <div class="progress w-75">
                                              <div class="  progress-bar progress-bar-striped progress-bar-animated bg-success" style="width:90%">90%</div>
                                            </div>
                                        </div>
                        
                                        <div class="names my-3">
                                            <h1>Web Development</h1>
                                            <div class="progress w-75">
                                              <div class="  progress-bar progress-bar-striped progress-bar-animated bg-warning" style="width:60%">60%</div>
                                            </div>
                                        </div>
                        
                                        <div class="names my-3">
                                            <h1>HTML, CSS, Java Script</h1>
                                            <div class="progress w-75">
                                              <div class="  progress-bar progress-bar-striped progress-bar-animated bg-primary" style="width:60%">60%</div>
                                            </div>
                                        </div>
                        
                                        <div class="names my-3">
                                            <h1>Call SLA, ADiTaaS ITSM Tool </h1>
                                            <div class="progress w-75">
                                              <div class="  progress-bar progress-bar-striped progress-bar-animated bg-danger" style="width:100%">100%</div>
                                            </div>
                                        </div>
                                    </div>
                        
                                    <div class="col-lg-6 col-md-12 col-12 servicediv">
                                        <div class="row ">
                                            <div class="col-lg-2 col-2 service-icons" >
                                                <i class="fa fa-2x fa-desktop" aria-hidden="true"></i>
                                            </div>
                        
                                            <div class="col-lg-10 col-10 "><br>
                                                <h2>System Administration</h2>
                                                <p>Linux / Windows Servers L1 support </p>
                                            </div>
                                        </div>	
                        
                                        <div class="row ">
                                            <div class="col-lg-2 col-2 service-icons" >
                                                <i class="fa fa-2x fa-wifi" aria-hidden="true"></i>
                                            </div>
                        
                                            <div class="col-lg-10 col-10 ">
                                                <h2>Servers Backup & Storage</h2>
                                                <p>Configuring and managing Server Environment with various servers backup configuration in a Domain.</p>
                                            </div>
                                        </div>	
                        
                        
                                        <div class="row ">
                                            <div class="col-lg-2 col-2 service-icons" >
                                                <i class="fa fa-2x fa-phone" aria-hidden="true"></i>
                                            </div>
                        
                                            <div class="col-lg-10 col-10 ">
                                                <h2>Supoort 24/7</h2>
                                                <p>Data Center Management at Tata Motors, Lucknow.</p>
                                            </div>
                                        </div>	
                                    </div>
                                </div>
                            </div>
                                                
                        <!-- ************** service offer section ends*********************** -->
                        

                    </section>

        
                     </div>
         </div>
         <div class="text-center">
          <a href="Contact.html" class="btn btn-outline-warning mx-5 my-3">Contact us</a>
          <a href="mailto:sumit7686@gmail.com" class="btn btn-outline-info">Text us</a>
        
         </div>
        </div>
        <!-- End Main Content -->
       </div>
      </div>
     </div>
   
    </div>







    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

   <!----------------------- CDN Connection script to connect Bootstrap ----------------------------------------->      

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>  
</body>
</html>