body{
    min-height: 80vh;
    display: grid;
    place-items: center;
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    }
    .container{
        height: 700px;
        margin: auto;
        position: relative;
        width: 90%;
        display: grid;
        place-items: center;
         overflow: hidden; 

    }
    .slider-container{
        display: flex;
        width: calc(500px * 18);
        animation: scroll 50s linear infinite;
    }
    @keyframes scroll {
        0%{
            transform: translateX(0);
          }
          100%{
            transform: translateX(calc(-350px * 20));
          }
    }

    .slide-image{
        height: 600px;
        width: 600px;
        display: flex;
        align-items: center;
        padding: 15px;
        perspective: 100px;
    }

    .s1{
         width: 100%; 
        transition: transform 1s;
    }

     .s1:hover{
        transform: translateZ(20px);
    }

    